GUACAMOLE_URL=https://guac.example.com
GUACAMOLE_USERNAME=guacadmin
GUACAMOLE_PASSWORD=guacadmin

#GUACAMOLE_TOKEN=Asdf
#GUACAMOLE_COOKIES="_oauth2_proxy=..."
#GUACAMOLE_AUTHORIZATION_HEADER="Bearer Asdf="
#GUACAMOLE_CONNECTION_PATH=mygroup